<br>
<div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <h1>1</h1>
      </ng-template>
      <mat-card>
        <mat-card-header>
        <mat-card-title>ONG arrecada ‘quatro Natais sem Fome’ para combater pandemia de coronavírus</mat-card-title>
        <mat-card-subtitle>Ação da Cidadania já arrecadou 4,8 mil toneladas de alimentos, que vão beneficiar mais de um milhão de pessoas. </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://ogimg.infoglobo.com.br/in/24466390-5be-34d/FT1086A/652/x101411703_3245154042174037_8033015515691614208_o.jpg.pagespeed.ic.YTPR1PcXu6.jpg">
      </mat-card> </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <h1>2</h1>
        </ng-template>
        <mat-card>
          <mat-card-header>
          <mat-card-title>Coronavírus: ONGs se unem para levar comida a quem tem fome</mat-card-title>
          <mat-card-subtitle>Marmitas chegam a moradores de rua no fim de semana, quando os restaurantes populares não abrem, e cestas básicas aliviam necessidade das famílias mais carentes </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i.em.com.br/ocm7_eZrPu23QqKaTdep19rXL9E=/675x0/smart/imgsapp.em.com.br/app/noticia_127983242361/2020/05/05/1144568/20200505145252644777u.jpg">
        </mat-card> </mat-tab><mat-tab>
          <ng-template mat-tab-label>
            <h1>3</h1>
          </ng-template>
          <mat-card>
            <mat-card-header>
            <mat-card-title>Doações de cestas básicas digitais e alimentos combatem a fome na pandemia</mat-card-title>
            <mat-card-subtitle>Ticket, Burger King, Quero e outras marcas lideram campanhas de doações expressivas em junho</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://f.i.uol.com.br/fotografia/2020/04/22/15876101085ea101fcb607e_1587610108_3x2_md.jpg">
          </mat-card> </mat-tab>
  </mat-tab-group>
  </div>

