div {
  margin: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  color:black;
}

h1{
  color: black;
}
.tabsdemoDynamicHeight  md-content  md-tabs {
  border : 1 px solid #e1e1e1 ;
}
