.full-width {
  width: 100%;
}

.shipping-card {
  margin: 20px auto;
}

.mat-card-header {
  justify-content: center;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 0px;
}

.col:last-child {
  margin-right: 0;
}
button {
  width: 100%;
  padding: 10px;
}

