mat-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  align-content: flex-start;
}

a:link {
  text-decoration: none;
  color: black;
}

a.menu:visited {
  color: black;
}
mat-card-header
{
  display: flex;
  justify-content: flex-start;
}

